<html>
    <style>
        table,td,th{
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
    {{! <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> }}
    <body>
        <table>
            <thead>
                <tr>
                    <th width="25%">Roll no</th>
                    <th width="25%">Name</th>
                    <th width="25%">Phone</th>
                    <th width="25%">Email</th>
                </tr>
            </thead>
            {{#data}}
            <tbody id='tbody'>
                <tr>
                    <td width="25%">{{roll}}</td>
                    <td width="25%">{{name}}</td>
                    <td width="25%">{{phn}}</td>
                    <td width="25%">{{email}}</td>
                </tr>
            </tbody>
            {{/data}}
        </table>
        
    </body>

</html>